<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="Tabs" value="US News,HK News" />
      <add key="US News" value="G:\_Public\TRADING\DATA\News Test.txt" />
      <add key="HK News" value="G:\_Public\TRADING\DATA\HK News Test.txt" />
    </appSettings>
</configuration>